<h2>Joueurs</h2>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  <!--<tr *ngFor="let player of players"-->
      <!--(click)="navigateToPlayer(player.id)">-->

    <tr *ngFor="let key of players.ids">
      <td>{{ players.entities[key].name  }}</td>
      <td><button (click)="deletePlayer(players.entities[key].id )">x</button></td>
    </tr>
    <tr *ngIf="players.ids">
      <td><input #newPlayer (keydown.enter)="addPlayer(newPlayer.value)"></td>
    </tr>
  </tbody>
</table>
