$yellow-1-color: #fad390;
$yellow-2-color: #f6b93b;
$yellow-3-color: #fa983a;
$yellow-4-color: #e58e26;

$red-1-color: #f8c291;
$red-2-color: #e55039;
$red-3-color: #f8c291;
$red-4-color: #b71540;

$blue-1-color: #6a89cc;
$blue-1-1-color: #a9bce6;
$blue-1-2-color: #93ade6;
$blue-2-color: #4a69bd;
$blue-3-color: #1e3799;
$blue-4-color: #0c2461;

$light-blue-1-color: #82ccdd;
$light-blue-2-color: #60a3bc;
$light-blue-3-color: #3c6382;
$light-blue-4-color: #0a3d62;

$green-1-color: #b8e994;
$green-2-color: #78e08f;
$green-3-color: #38ada9;
$green-4-color: #079992;