body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
  }

  .content {
    min-width: 400px;
    width: 40%;
    position:relative;
  }
}