<!--Navbar-->
<mdb-navbar #navbar SideClass="navbar navbar-expand-lg navbar-light white justify-content-between" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="/">
          <img src="https://mdbootstrap.com/img/Marketing/other/logo/logo-mdb-angular-small.png" height="30" alt="">
      </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/targets" routerLinkActive="active" mdbWavesEffect>Simulator</a>
      </li>

    </ul>


  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
